/*
jonalismo       -> #c4170c
oglobo          -> #1e4c9a
valor           -> #006767
esporte         -> #06aa48
cartolafc       -> #ff7400
globoplay       -> #fb0234
entretenimento  -> #ff6700
quem            -> #333
receitas        -> #a5147d
gigaglobo       -> #00c4a2
top             -> #0031ff
*/

@font-face {
    font-family: GlobobrandRegular;
    src: url(../fonts/GlobobrandRegular.otf);
}

li{
    list-style: none !important;
}

a{
    font-size: 22px;
}

i{
    font-size: 30px;
}

.f-globo{
    font-family: GlobobrandRegular;
}

.font-color-jornalismo{
    color: #c4170c !important;
    font-family: GlobobrandRegular;
}

.bg-color-jornalismo{
    background-color: #c4170c !important;
}

.font-color-globo{
    color: #1e4c9a !important;
    font-family: GlobobrandRegular;
}

.font-color-valor{
    color: #006767 !important;
    font-family: GlobobrandRegular;
}

.font-color-esporte{
    color: #06aa48 !important;
    font-family: GlobobrandRegular;
}

.bg-color-esporte{
    background-color: #06aa48 !important;
}

.font-color-cartolafc{
    color: #ff7400 !important;
    font-family: GlobobrandRegular;
}

.font-color-globoplay{
    color: #fb0234 !important;
    font-family: GlobobrandRegular;
}

.bg-color-globoplay{
    background-color: #fb0234 !important;
}

.font-color-entretenimento{
    color: #ff6700 !important;
    font-family: GlobobrandRegular;
}

.bg-color-entretenimento{
    background-color: #ff6700 !important;
}

.font-color-quem{
    color: #333 !important;
    font-family: GlobobrandRegular;
}

.font-color-receitas{
    color: #a5147d !important;
    font-family: GlobobrandRegular;
}

.font-color-gigaglobo{
    color: #00c4a2 !important;
    font-family: GlobobrandRegular;
}

.font-color-bicho{
    color: #513354 !important;
    font-family: GlobobrandRegular;
}

.font-color-top{
    color: #0031ff !important;
    font-family: GlobobrandRegular;
}

.bg-color-top{
    background-color: #0031ff !important
}

.col-height{
    background-color: lightgrey;
    height: 400px;
}

.noticia-principal{
    color: #c4170c !important;
    font-size: 470% !important;
    font-weight: bold !important;
}

div.desc{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.116),rgba(0,0,0,1));
    bottom: 0;
    color: #fff;
    left: 0;
    position: absolute;
    width: 100%;
    font-size: 25px;
    padding: 0px 20px;
}

.fix{
    width: 100%;
    padding: 0px;
}

.no-padding{
    padding: 0px !important;
}

.fw-titulo{
    font-size: 50px;
}

.aries-icon{
    background-color: rgba(255, 103, 0, 0.1);
}

.aries-icon img{
    filter: invert(54%) sepia(70%) saturate(4710%) hue-rotate(0deg) brightness(102%) contrast(105%) !important;
}

.signo-icon img{
    filter: invert(75%) sepia(8%) saturate(349%) hue-rotate(181deg) brightness(86%) contrast(88%);
}

.banner{
    height: 400px !important;
}

.footer{
    background-color: rgb(236, 236, 236) !important;
}

.footer p{
    color: darkslategray;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}